
<!-- Footer -->
<footer class="page-footer font-small elegant-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
  
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
  
          <!--Copyright-->
          <p class="text-center text-md-left"><i class="fas fa-copyright"></i> {{ year }} developed by&nbsp;&nbsp;
              <strong>
                <i class="fas fa-angle-left"></i>
                &nbsp;<a target="_blank" rel="noopener noreferrer" href="https://github.com/josseas"><i class="fab fa-github"></i>&nbsp;josseas</a>&nbsp;
                <i class="fas fa-angle-right"></i>
              </strong>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">
  
          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                Server Status: 
                <span *ngIf="socket.status" class="text-success">
                    <i class="fas fa-circle"></i>
                    Online
                </span>
                <span *ngIf="!socket.status" class="text-danger">
                    <i class="fas fa-circle"></i>
                    Offline
                </span>
              </li>
            </ul>
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  </footer>
  <!-- Footer -->
