<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <i class="fas fa-code"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/mensajes']" routerLinkActive="router-link-active" >
                    <i class="fas fa-comments"></i>&nbsp;Chat
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/grafica']" routerLinkActive="router-link-active" >
                    <i class="fas fa-chart-area"></i>&nbsp;Grafica
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/encuesta']" routerLinkActive="router-link-active" >
                    <i class="fas fa-chart-bar"></i>&nbsp;Encuesta
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/mapa']" routerLinkActive="router-link-active" >
                    <i class="fas fa-map-marker-alt"></i>&nbsp;Google Maps
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/colas']" routerLinkActive="router-link-active" >
                    <i class="fas fa-users"></i>&nbsp;Colas
                </a>
            </li>
        </ul>
        <span class="navbar-text" style="margin-right: 10px;" *ngIf="IsAuth()">
            <strong style="font-size: 16px;">
                <i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{ socket.GetUser().nombre }}
            </strong>
        </span>
        <button class="btn btn-danger" (click)="Logout()" *ngIf="IsAuth()">
            Salir
        </button>
    </div>
</nav> -->


<!--Navbar -->
<nav class="mb-1 navbar navbar-expand navbar-dark elegant-color-dark fixed-top">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">
        <i class="fas fa-code"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/mensajes']" routerLinkActive="router-link-active" >
                    <i class="fas fa-comments"></i>&nbsp;Chat
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/grafica']" routerLinkActive="router-link-active" >
                    <i class="fas fa-chart-area"></i>&nbsp;Grafica
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/encuesta']" routerLinkActive="router-link-active" >
                    <i class="fas fa-chart-bar"></i>&nbsp;Encuesta
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/mapa']" routerLinkActive="router-link-active" >
                    <i class="fas fa-map-marker-alt"></i>&nbsp;Google Maps
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/colas']" routerLinkActive="router-link-active" >
                    <i class="fas fa-users"></i>&nbsp;Colas
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                    <span class="navbar-text" style="margin-right: 10px;" *ngIf="IsAuth()">
                        <i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{ socket.GetUser().nombre }}
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <button class="btn btn-danger" (click)="Logout()" *ngIf="IsAuth()">
                    Salir
                </button>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->