<h2>SISTEMA DE COLAS (PROXIMAMENTE)</h2>

<hr>

<div class="row">

    <div class="col-sm-6">

        <div class="box" style="height: 424px;">
            <div class="data-1">
                <div class="ticket">TK-001</div>
                <div class="vent">Vent. 01</div>
            </div>
        </div>

    </div>

    <div class="col-sm-6">

        <div class="row">

            <div class="col-sm-6">

                <div class="box">
                    <div class="data-2">
                        <div class="ticket">TK-002</div>
                        <div class="vent">Vent. 02</div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">

                <div class="box">
                    <div class="data-2">
                        <div class="ticket">TK-003</div>
                        <div class="vent">Vent. 03</div>
                    </div>
                </div>

            </div>

        </div>

        <br />

        <div class="row">

            <div class="col-sm-6">

                <div class="box">
                    <div class="data-2">
                        <div class="ticket">TK-004</div>
                        <div class="vent">Vent. 04</div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">

                <div class="box">
                    <div class="data-2">
                        <div class="ticket">TK-005</div>
                        <div class="vent">Vent. 05</div>
                    </div>
                </div>

            </div>

        </div>
        
    </div>
    
</div>
