<h1 class="text-center">
    Aplicacion En Tiempo Real
</h1>
<hr>
<h2 class="text-center">
    NodeJS, Express, Socket.IO, TypeScript, Google Maps, Angular, ng2-charts
</h2>
<hr>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <div class="icono"><i class="fa fa-comments" aria-hidden="true"></i></div>
                <h5 class="card-title text-center">CHAT</h5>
                <hr>
                <button class="btn btn-outline-primary" [routerLink]="['/mensajes']" routerLinkActive="router-link-active" >
                    Ver Chat
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <div class="icono"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
                <h5 class="card-title text-center">GRAFICA</h5>
                <hr>
                <button class="btn btn-outline-primary" [routerLink]="['/grafica']" routerLinkActive="router-link-active" >
                    Ver Grafica
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <div class="icono"><i class="fa fa-check-square-o" aria-hidden="true"></i></div>
                <h5 class="card-title text-center">ENCUESTA</h5>
                <hr>
                <button class="btn btn-outline-primary" [routerLink]="['/encuesta']" routerLinkActive="router-link-active" >
                    Ver Encuesta
                </button>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <div class="icono"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <h5 class="card-title text-center">GOOGLE MAPS</h5>
                <hr>
                <button class="btn btn-outline-primary" [routerLink]="['/mapa']" routerLinkActive="router-link-active" >
                    Ver Google Maps
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <div class="icono"><i class="fa fa-users" aria-hidden="true"></i></div>
                <h5 class="card-title text-center">COLAS</h5>
                <hr>
                <button class="btn btn-outline-primary" [routerLink]="['/colas']" routerLinkActive="router-link-active" >
                    Ver Colas
                </button>
            </div>
        </div>
    </div>
</div>



